<ion-view view-title="Happy Birthday "  style="background: url(img/10.jpg);background-size: cover; ">>
    <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="text">
    <p style="font-size:70px; padding-top:30px; padding-bottom:65px;">Hi, Happy Birthday <i class="icon ion-ios-heart">,</i></p>
</div>
<div class="text-center">
<iframe id="video" width="420" height="315" src="//www.youtube.com/embed/ZLiYB91l94I" frameborder="0" allowfullscreen></iframe>
</div>
<!--<div class="accordian">
  <ul>
    <li>
      <div class="image_title">
        <a href="#">Wedding 1</a>
      </div>
      <a href="#">
        <img src="img/1.jpg">
    </a>
    </li>
       <li>
      <div class="image_title">
        <a href="#">Wedding 2</a>
      </div>
      <a href="#">
     <img src="img/2.jpg">
      </a>
    </li>
          <li>
      <div class="image_title">
        <a href="#">Wedding 3</a>
      </div>
      <a href="#">
     <img src="img/3.jpg">
      </a>
    </li>
             <li>
      <div class="image_title">
        <a href="#">Wedding 4</a>
      </div>
      <a href="#">
     <img src="http://farm4.staticflickr.com/3715/10065692306_705364fa01.jpg">
      </a>
    </li>
      <li>
      <div class="image_title">
        <a href="#">Wedding 4</a>
      </div>
      <a href="#">
     <img src="http://farm4.staticflickr.com/3715/10065692306_705364fa01.jpg">
      </a>
    </li>
    
    </div>
  </ul>
</div>-->
    <audio style="width:100%; padding-top:72px;" src="/media/malial.mp3" controls="true" autoplay="true"></audio>
  
    </ion-content>
</ion-view>
